:root {
    --size-of-square: 24px;
    --size-of-board: calc((10 * var(--size-of-square)) + 11px);
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
    font-size: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
fieldset {
    position: relative;
}
legend {
    position: absolute;
    bottom: 0;
    right: 0;
}
input {
    appearance: none;
}
li {
    list-style-type: none;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(2, var(--size-of-board));
    gap: calc(1.5 * var(--size-of-square));
}

.empty-square {
    background-color: white;
}
.empty-square:hover {
    background-color: lightgrey;
}

.hit {
    background-color: red;
}
.miss {
    background-color: blue;
}

.display-board {
    display: grid;
    grid-template-columns: repeat(10, var(--size-of-square)); 
    grid-template-rows: repeat(10, var(--size-of-square));
    gap: 1px;
    background-color: black;
    max-width: var(--size-of-board);
    border: solid 1px black;
}